
// 0 purple-accent: #5F66B0
// 5 purple-primary: #5662B7
// 10 purple-highlight: #4B5eBe
// 20 blue-accent: #396bcc
// 30 blue-primary: #2D9ED7
// 40 blue-highlight: #25DEC5
// 50 green-highlight: #21E067

//COLOR
$purple-accent: #5F66B0;
$purple-primary: #5662B7;
$purple-highlight: #4B5eBe;

$blue-accent: #396bcc;
$blue-primary: #2D9ED7;
$blue-highlight: #25DEC5;

$green-highlight: #21E067;

// Mobile Breakpoints
$xl: 1200px;
$lg: 980px;
$md: 768px;
$sm: 600px;
$xs: 450px;

// LAYOUT
$gutter-vertical: 4rem;
$base-font-size: 62.5%;

// GRID
$grid-gutter: 2.5rem;