.skiplink {
    position: absolute;
    top: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skiplink:focus {
  top: 40px;
  width: auto;
  height: auto;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 2rem;
  z-index: 10;
  padding: 10px;
  display: inline-block;
}

.main-nav {
  box-shadow: 0 0 1px rgba(0,0,0,.45);
  color: #2B6581;
  background: #FFF;
  border-bottom: 4px solid#296C4C;
  position: fixed;
  bottom: 0;
  width: 100%;
  .wrapper {
    justify-content: space-between;
  }

  &__nav {
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item a {
    display: inline-block;
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
    position: relative;
    margin: 1rem 0 1rem 0;
    z-index: 10;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 16px;
      width: 16px;
      left: 0;
      top:.5rem;
      background-color: #6A7AE6;
      transition: .2s;
    }

    &:hover {
      &::before {
        height: calc(100% - 1rem);
        background-color: #6564DD;
      }
    }
  }

  &__item {
    flex: 1 0 percentage(1/3);
    text-align: center;
    
    &.current_page_item a {
        color: #296C4C;
        text-shadow: none;
        pointer-events: none;
        cursor: default;

        &::before {
          background-color: #296C4C;
        }
    }

    &:not(.current_page_item) a:hover {
      color: #4A218F;
    }
  }
}

