%header-style {
    font-family: 'Oleo Script', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

sub a,
sup a {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    @extend %header-style;
}

p,
li,
a,
ul,
ol,
table {
  font-size: 2rem;
}

.main-nav {
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
}